@model Paintball.Web.Model.EventsGetAllViewModel
@{
    ViewBag.Title = "События";
}
<header id="head" class="secondary"></header>

<div class="container main">
    <ol class="breadcrumb">
        <li><a href="@Url.RouteUrl(HomeControllerRoute.GetIndex)">Главная</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="row">
        <div class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">События</h1>
            </header>
            @if (Model.Events.Count() > 0)
            {
                foreach (var item in Model.Events)
                {
                    <article class="panel panel-default">
                        <header class="panel panel-heading">
                            <a class="pull-left" href="@Url.RouteUrl(EventsControllerRoute.GetRead, new { id = item.Event.Id })">@item.Event.Title</a>
                            <span class="pull-right">Запланировано @item.Game.BeginDate.ToString("dd.MM.yyyy HH:mm")</span>
                            <div class="clearfix"></div>
                        </header>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    @if (string.IsNullOrEmpty(item.Event.TitleImage))
                                    {
                                        <a href="@Url.RouteUrl(EventsControllerRoute.GetRead, new { id = item.Event.Id })"><img class="img-thumbnail img-responsive" src="~/Images/default.jpg" alt="Изображение по умолчанию" /></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.RouteUrl(EventsControllerRoute.GetRead, new { id = item.Event.Id })"><img class="img-thumbnail img-responsive" src="@item.Event.TitleImage" alt="@item.Event.Title" /></a>
                                    }
                                </div>
                                <div class="col-sm-9">
                                    @if (item.Event.Description.Length > 250)
                                    {
                                        <p>@Html.Raw(item.Event.Description.Substring(0, 250)) <a href="@Url.RouteUrl(EventsControllerRoute.GetRead, new { id = item.Event.Id })"> читать далее...</a></p>
                                    }
                                    else
                                    {
                                        <p>@Html.Raw(item.Event.Description)</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </article>
                }
            }
            else
            {
                <h3>Событий нет</h3>
            }
            <div>
                <ul class="pagination pagination-lg">
                    @for (int i = 0; i < Model.PageCount; i++)
                    {
                        if (Model.CurrentPage == (i + 1))
                        {
                            <li class="active"><a href="#">@(i + 1)</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.RouteUrl(NewsControllerRoute.GetIndex, new { pageNumber = i + 1 })">@(i + 1)</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <!-- Sidebar -->
        <aside class="col-sm-3 sidebar sidebar-right">
            <div class="widget">
                <h4>Последние новости</h4>
            </div>
            @foreach (var ev in Model.TopNews)
            {
                <div class="row widget">
                    <div class="col-xs-12">
                        <a href="@Url.RouteUrl(NewsControllerRoute.GetRead, new { id = ev.Id })">
                            <h4>@ev.Title</h4>
                            @if (string.IsNullOrEmpty(ev.TitleImage))
                            {
                                <img class="img-thumbnail img-responsive" src="~/Images/default.jpg" alt="Изображение по умолчанию" />
                            }
                            else
                            {
                                <img class="img-thumbnail img-responsive" src="@ev.TitleImage" alt="@ev.Title" />
                            }
                        </a>
                    </div>
                </div>
            }
        </aside>
        <!-- /Sidebar -->
    </div>
</div>
