@model Paintball.Web.Model.CompaniesGetAllViewModel
@{
    ViewBag.Title = "Компании";
}
<header id="head" class="secondary"></header>
<div class="container main">
    <ol class="breadcrumb">
        <li><a href="@Url.RouteUrl(HomeControllerRoute.GetIndex)">Главная</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="row">
        <div class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">@ViewBag.Title</h1>
            </header>
            <div class="row">
                @foreach (var company in Model.Companies)
                {
                    <div class="item-company col-sm-6 col-md-4">
                        <div class="thumbnail">
                            @if (string.IsNullOrEmpty(company.LogoImage))
                            {
                                <a href="@Url.RouteUrl(CompaniesControllerRoute.GetRead, new { id = company.Id })"><img class="img-thumbnail img-responsive" src="~/Images/default.jpg" alt="defaultImage" /></a>
                            }
                            else
                            {
                                <a href="@Url.RouteUrl(CompaniesControllerRoute.GetRead, new { id = company.Id })"><img class="img-thumbnail img-responsive" src="@company.LogoImage" alt="@company.Name" /></a>
                            }
                            <div class="caption">
                                <h3><a href="@Url.RouteUrl(CompaniesControllerRoute.GetRead, new { id = company.Id })">@(company.Name.Length > 50 ? company.Name.Substring(0, 50) : company.Name)</a></h3>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Sidebar -->
        <aside class="col-sm-3 sidebar sidebar-right">
            <div class="widget">
                <h4>Последние новости</h4>
            </div>
            @foreach (var ev in Model.TopNews)
            {
                <div class="row widget">
                    <div class="col-xs-12">
                        <a href="@Url.RouteUrl(NewsControllerRoute.GetRead, new { id = ev.Id })">
                            <h4>@ev.Title</h4>
                            @if (string.IsNullOrEmpty(ev.TitleImage))
                            {
                                <img class="img-thumbnail img-responsive" src="~/Images/default.jpg" alt="default image" />
                            }
                            else
                            {
                                <img class="img-thumbnail img-responsive" src="@ev.TitleImage" alt="@ev.Title" />
                            }
                        </a>
                    </div>
                </div>
            }
        </aside>
        <!-- /Sidebar -->
    </div>
    <div class="center-block">
        <ul class="pagination pagination-lg">
            @for (int i = 0; i < Model.PageCount; i++)
            {
                if (Model.CurrentPage == (i + 1))
                {
                    <li class="active"><a href="#">@(i + 1)</a></li>
                }
                else
                {
                    <li><a href="@Url.RouteUrl(CompaniesControllerRoute.GetIndex, new { pageNumber = i + 1 })">@(i + 1)</a></li>
                }
            }
        </ul>
    </div>
</div>
